<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Hello World!</title>
</head>
<body>
<div layout:fragment="content">
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>

<div>
    <a th:href="@{/call}">only to user who has role 'ROLE_USER' </a>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="注销"/>
</form>
</div>
</body>
</html>